<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta http-equiv=Content-Type content="text/html; charset=windows-1252">

<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>

<style>
 /* Style Definitions */
 table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-qformat:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman","serif";}
</style>

</head>

<body lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>

<div class=WordSection1>

<p class=MsoNormal><o:p>&nbsp;</o:p></p>

<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="98%"
 style='width:98.0%;mso-cellspacing:0in;mso-yfti-tbllook:1184;mso-padding-alt:
 1.5pt 1.5pt 1.5pt 1.5pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes'>
  <td nowrap valign=top style='padding:1.5pt 1.5pt 1.5pt 1.5pt'>
  <p class=MsoNormal><b><span style='font-size:11.0pt;font-family:"Arial","sans-serif";
  mso-fareast-font-family:"Times New Roman";color:#CC0000'>MicroStrategy</span></b><b><span
  style='font-size:11.0pt;font-family:"Arial","sans-serif";mso-fareast-font-family:
  "Times New Roman";color:black'> Continuous Integration System<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr style='mso-yfti-irow:1;mso-yfti-lastrow:yes;height:18.75pt'>
  <td style='padding:1.5pt 1.5pt 1.5pt 1.5pt;height:18.75pt'>
  <div class=MsoNormal align=center style='text-align:center'><span
  style='mso-fareast-font-family:"Times New Roman"'>
  <hr size=2 width="100%" align=center style='color:cc0000'>
  </span></div>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='mso-fareast-font-family:"Times New Roman";
display:none;mso-hide:all'><o:p>&nbsp;</o:p></span></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="98%"
 style='width:98.0%;mso-cellspacing:0in;background:white;border:solid #CCCCCC 1.0pt;
 mso-border-alt:solid #CCCCCC .75pt;mso-yfti-tbllook:1184;mso-padding-alt:1.5pt 1.5pt 1.5pt 1.5pt'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td valign=top style='border:none;padding:1.5pt 1.5pt 1.5pt 1.5pt'>
  <p class=MsoNormal><span style='font-size:10.0pt;font-family:"Arial","sans-serif";
  mso-fareast-font-family:"Times New Roman";color:black'>Tests triggered by your commit encountered failures! The review request has been generated: <o:p></o:p></span></p>
  </td>
  <td valign=top style='border:none;padding:1.5pt 1.5pt 1.5pt 1.5pt'>
  <table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="98%"
   style='width:98.0%;mso-cellspacing:0in;mso-yfti-tbllook:1184;mso-padding-alt:
   1.5pt 1.5pt 1.5pt 1.5pt'>
   <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes;
    height:18.75pt'>
    <td style='padding:1.5pt 1.5pt 1.5pt 1.5pt;height:18.75pt'>
    <p class=MsoNormal><span style='font-size:8.0pt;font-family:"Arial","sans-serif";
    mso-fareast-font-family:"Times New Roman";color:black'><a
    href="{{ url }}"
    target=ReviewRequest>{{ commit_id }}</a></span><span style='mso-fareast-font-family:
    "Times New Roman"'><o:p></o:p></span></p>
    <div class=MsoNormal align=center style='text-align:center'><span
    style='mso-fareast-font-family:"Times New Roman"'>
    <hr size=2 width="100%" align=center style='color:cc0000'>
    </span></div>
    </td>
   </tr>
  </table>
  </td>
 </tr>
</table>

<p class=MsoNormal><span style='mso-fareast-font-family:"Times New Roman"'><br>
Please do not reply to this email. <br>
Click on the request # link to view the request.<br>
Thank you.<o:p></o:p></span></p>

</div>

</body>

</html>
